<h2>Reporter output</h2><table><tr><td>Click on addCustomer button : [[ChromeDriver: chrome on WINDOWS (4c97fe8670bef8266aaa56b9f7452c0f)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[1]/button[1]]</td></tr>
<tr><td>Enter first name : [[ChromeDriver: chrome on WINDOWS (4c97fe8670bef8266aaa56b9f7452c0f)] -> xpath: /html[1]/body[1]/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>Enter last name : [[ChromeDriver: chrome on WINDOWS (4c97fe8670bef8266aaa56b9f7452c0f)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode : [[ChromeDriver: chrome on WINDOWS (4c97fe8670bef8266aaa56b9f7452c0f)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Click on add customer button : [[ChromeDriver: chrome on WINDOWS (4c97fe8670bef8266aaa56b9f7452c0f)] -> xpath: //button[text()='Add Customer']]</td></tr>
<tr><td>Enter first name : [[ChromeDriver: chrome on WINDOWS (6eb1d05ad52278f936029989eab5b26d)] -> xpath: /html[1]/body[1]/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>Enter last name : [[ChromeDriver: chrome on WINDOWS (6eb1d05ad52278f936029989eab5b26d)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode : [[ChromeDriver: chrome on WINDOWS (6eb1d05ad52278f936029989eab5b26d)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Click on add customer button : [[ChromeDriver: chrome on WINDOWS (6eb1d05ad52278f936029989eab5b26d)] -> xpath: //button[text()='Add Customer']]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\VidhiPrime\IdeaProjects\week15-page-factory-xyz-bank/test-output/html/bankManagerShouldOpenAccountSuccessfullyTue_Dec_13_14_17_55_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\VidhiPrime\IdeaProjects\week15-page-factory-xyz-bank/test-output/html/bankManagerShouldOpenAccountSuccessfullyTue_Dec_13_14_17_55_GMT_2022.jpg><img src=C:\Users\VidhiPrime\IdeaProjects\week15-page-factory-xyz-bank/test-output/html/bankManagerShouldOpenAccountSuccessfullyTue_Dec_13_14_17_55_GMT_2022.jpg height=200 width=200></img></a></td></tr>
<tr><td>Enter first name : [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: /html[1]/body[1]/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>Enter last name : [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode : [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Click on add customer button : [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: //button[text()='Add Customer']]</td></tr>
<tr><td>click on deposit button [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: //button[@ng-click='deposit()']]</td></tr>
<tr><td>Enter amount : [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: //input[@placeholder='amount']]</td></tr>
<tr><td>Click on deposit button [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>Verify message : [[ChromeDriver: chrome on WINDOWS (3af80a0388165be8601cdd88020cc6b9)] -> xpath: //span[contains(text(),'Deposit Successful')]]</td></tr>
<tr><td>Enter first name : [[ChromeDriver: chrome on WINDOWS (fc02575d6a1e92a33f6b33ee1e96b8fd)] -> xpath: /html[1]/body[1]/div[3]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/form[1]/div[1]/input[1]]</td></tr>
<tr><td>Enter last name : [[ChromeDriver: chrome on WINDOWS (fc02575d6a1e92a33f6b33ee1e96b8fd)] -> xpath: //input[@placeholder='Last Name']]</td></tr>
<tr><td>Enter postcode : [[ChromeDriver: chrome on WINDOWS (fc02575d6a1e92a33f6b33ee1e96b8fd)] -> xpath: //input[@placeholder='Post Code']]</td></tr>
<tr><td>Click on add customer button : [[ChromeDriver: chrome on WINDOWS (fc02575d6a1e92a33f6b33ee1e96b8fd)] -> xpath: //button[text()='Add Customer']]</td></tr>
<tr><td>click on deposit button [[ChromeDriver: chrome on WINDOWS (d9fcabd87a17a5127954171fe66bc848)] -> xpath: //button[@ng-click='deposit()']]</td></tr>
<tr><td>Enter amount : [[ChromeDriver: chrome on WINDOWS (d9fcabd87a17a5127954171fe66bc848)] -> xpath: //input[@placeholder='amount']]</td></tr>
<tr><td>Click on deposit button [[ChromeDriver: chrome on WINDOWS (d9fcabd87a17a5127954171fe66bc848)] -> xpath: //body/div[3]/div[1]/div[2]/div[1]/div[4]/div[1]/form[1]/button[1]]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\VidhiPrime\IdeaProjects\week15-page-factory-xyz-bank/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_14_18_26_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\VidhiPrime\IdeaProjects\week15-page-factory-xyz-bank/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_14_18_26_GMT_2022.jpg><img src=C:\Users\VidhiPrime\IdeaProjects\week15-page-factory-xyz-bank/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_14_18_26_GMT_2022.jpg height=200 width=200></img></a></td></tr>
</table>